*{
    padding: 0px;
    margin: 0px;
}

.nav{
    height: 150px;
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav h1{
    color: brown;
    text-decoration:underline wavy blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}